doctype html
html(lang="es")
	head
		title VRIN UNPRG
		include includes/head
	body
		//Menú Mobile
		include includes/mobile-menu

		//Menú
		header.navbar-fixed
			include includes/menu

		//Cuerpo
		.row.cuerpo
			a.btn-floating.btn-large.waves-effect.red(onclick="agregar()")
				i.material-icons add
			.row.titulo.center
				h4 CATEGORIAS
			.col.s10.offset-s1.tabla
				table.centered.striped
					thead
						th N
						th Nombre
						th Productos
						th Editar
						th Eliminar
					tbody
						-for(var i=0;i<5;i++)
							tr
								td #{i}
								td Producto #{i}
								td
									a.btn(href="productos.html")
										i.material-icons input
								td
									a.btn.green(onclick="editar()")
										i.material-icons edit
								td
									a.btn.red(href="eliminar()")
										i.material-icons delete