doctype html
html(lang="es")
	head
		title VRIN UNPRG
		include includes/head
	body

		//Menú Mobile
		include includes/mobile-menu

		.row.premenu
			include includes/pre-menu			
		//Menú
		header.navbar
			include includes/menu

		include includes/slider
		//Cuerpo
		.row.cuerpo
			.col.s12.l9
				.row.titulo
					h4.center FINANCIAMIENTOS
				.row.noticia.card
					.col.s5
						img(src="../img/portada1.jpg")
					.col.s7
						h5 Nombre de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						a(href="financiamiento.html")
							button.btn.right VER financiamiento
								i.material-icons.right input
				.row.noticia.card
					.col.s5
						img(src="../img/portada2.jpg")
					.col.s7
						h5 Titulo de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						a(href="financiamiento.html")
							button.btn.right VER financiamiento
								i.material-icons.right input
				.row.noticia.card
					.col.s5
						img(src="../img/portada3.jpg")
					.col.s7
						h5 Titulo de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						p Descripción corta de financiamiento
						a(href="financiamiento.html")
							button.btn.right VER financiamiento
								i.material-icons.right input

			.col.s12.l3
				include includes/fb-lateral
			
		
		footer
			include includes/footer