doctype html
html(lang="es")
	head
		title VRIN UNPRG
		include includes/head
	body
		#fb-root


		//Menú Mobile
		include includes/mobile-menu

		.row.premenu
			include includes/pre-menu			
		//Menú
		header.navbar
			include includes/menu

		include includes/slider
		//Cuerpo
		.row.cuerpo
			.col.s12.l9
				.row.titulo
					h4.center PASANTIA 1
				.row.noticia.card
					.row
						img(src="../img/portada1.jpg")
					.row
						p Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga Descripcion larga	
						
			.col.s12.l3
				include includes/fb-lateral
			
		
		footer
			include includes/footer