#fb-root
//MENÚ MOBILE
ul.collapsible.side-nav#mobile-menu(data-collapsible="accordion")
	li
		a.collapsible-header.waves-effect(href="unidades.html") INICIO	
	.divider
	li
		.collapsible-header.waves-effect(href="oficinas.html") OFICINAS
		.collapsible-body.waves-effect
			li
				a(href="oficina 1") Oficina 1
	.divider
	li
		a.collapsible-header.waves-effect(href="proyectos.html") PROYECTOS
	.divider
	li
		a.collapsible-header.waves-effect(href="pasantias.html") PASANTIAS
	.divider