.slider
	ul.slides
		li
			img(src="../img/oficinas/oficina/slider1.jpg")
			.caption.center-align
		li
			img(src="../img/oficinas/oficina/slider2.jpg")
			.caption.center-align
		li
			img(src="../img/oficinas/oficina/slider3.jpg")
			.caption.center-align
		li
			img(src="../img/oficinas/oficina/slider4.jpg")
			.caption.center-align