//MENÚ WEB
nav.nav-wrapper
	a.button-collapse.left(data-activates="mobile-menu" href="#")
		i.material-icons menu
	ul#nav-mobile.right.hide-on-med-and-down
		li
			a(href="unidades.html").waves-effect UNIDADES
		li
			a(href="proveedores.html").waves-effect PROVEEDORES
		li
			a(href="pedidos.html").waves-effect PEDIDOS
		li
			a(href="categorias.html").waves-effect CATEGORIAS
		li
			a(href="marcas.html").waves-effect MARCAS
		li
			a(href="productos.html").waves-effect PRODUCTOS