//MENÚ MOBILE
ul.collapsible.side-nav#mobile-menu(data-collapsible="accordion")
	li
		a.collapsible-header.waves-effect(href="unidades.html") UNIDADES
	.divider
	li
		a.collapsible-header.waves-effect(href="proveedores.html") PROVEEDORES
	.divider
	li
		a.collapsible-header.waves-effect(href="pedidos.html") PEDIDOS
	.divider
	li
		a.collapsible-header.waves-effect(href="categorias.html") CATEGORIAS
	.divider
	li
		a.collapsible-header.waves-effect(href="marcas.html") MARCAS
	.divider
	li
		a.collapsible-header.waves-effect(href="productos.html") PRODUCTOS
	.divider