.slider
	ul.slides
		li
			img(src="../img/portada1.jpg")
			.caption.center-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input
		li
			img(src="../img/portada2.jpg")
			.caption.right-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input
		li
			img(src="../img/portada3.jpg")
			.caption.left-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input