.slider
	ul.slides
		li
			img(src="../img/portada4.jpg")
			.caption.center-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input
		li
			img(src="../img/portada5.jpg")
			.caption.right-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input
		li
			img(src="../img/portada6.jpg")
			.caption.left-align
				h3 Titulo
				h5 Subtitulo
				a
					button.btn VER NOTICIA
						i.material-icons.right input