.modal{
	width: 90%;
	max-height: 90%;
	.row{
		margin: 0;
	}
	.social{
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.titulo{
		color: white;
		padding-top: 10px;
		padding-bottom: 1px;
	}
	.botones{
		padding-bottom: 20px;
	}
	.olvide{
		margin-top: 15px;
	}
	.datos{
		padding: 0 5px;
	}
	@media all and(min-width: 600px){
		width: 70%;
		.datos{
			padding: 20px;
			padding-bottom: 0px;
		}
		.social{
			margin-bottom: 0px;
		}
	}
	@media all and(min-width: 900px){
		width: 60%;
		margin-left: 20%;
	}
	@media all and(min-width: 1100px){
		width: 50%;
		margin-left: 25%;
	}
	@media all and(min-width: 1300px){
		width: 40%;
		margin-left: 30%;
	}
	@media all and(min-width: 1700px){
		width: 35%;
		margin-left: 32.5%;
	}

	@media all and(min-width: 600px){
		width: 500px !important;
		margin-left: auto !important;
	}
}