.side-nav{
	li{
		a{
			padding: 5px 10px !important;
		}
	}
	.divider{
		margin-top: 0 !important;
	}

	.nombre-perfil{
		line-height: 56px;
		height: 56px;
		position: relative;
		top: 0;
	}

	.li-perfil{
		a{
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			span{
				position: relative;
				top: -20px;
			}
			img{
				display: inline-block !important;
			}
		}
	}
}